<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362243195978-9kn05i6vtuqt03krh1oo8b35989f0hoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362243195978-9kn05i6vtuqt03krh1oo8b35989f0hoo</string>
	<key>API_KEY</key>
	<string>AIzaSyCvylyxlyuwjuCywwzJ4Ya4pE7vvCpIYOc</string>
	<key>GCM_SENDER_ID</key>
	<string>362243195978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.net.dnk.VKApp</string>
	<key>PROJECT_ID</key>
	<string>vkapp-ec7cb</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-ec7cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362243195978:ios:661f64b29e7e8b5cb592b3</string>
</dict>
</plist>